<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Let's Play Ping Pong!</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong</h1>
        <p>Enter a number to count to Ping Pong</p>
        <form action='/results' method='post'>
            <div class='form-group' >
              <label for='number'>Number:</label>
              <input id='number' name='number' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn-success'>Count</button>
        </form>
    </div>
</body>
</html>
